In [1]:
import numpy as np
import pandas as pd
import requests as req
from bs4 import BeautifulSoup as bs

import time
from selenium import webdriver as wb
from selenium.webdriver.common.keys import Keys

In [6]:
url = 'https://front.wemakeprice.com/best'
driver = wb.Chrome()
driver.get(url)

In [7]:
time.sleep(1)
driver.back()

In [ ]:
# 클릭할 땐 시간주기
# 원산지없는건 예외처리

In [23]:
url = 'https://sports.news.naver.com/kbaseball/record/index.nhn?category=kbo'
res= req.get(url)
soup=bs(res.text, 'lxml')

In [25]:
x=soup.select('td')# ,limit=110)

In [26]:
list = []
for i in x:
    list.append(i.text.strip())

In [27]:
len(list)

110

In [35]:
list

['NC',
 '144',
 '83',
 '55',
 '6',
 '0.601',
 '0.0',
 '1패',
 '0.366',
 '0.462',
 '4승-4패-2무',
 '두산',
 '144',
 '79',
 '61',
 '4',
 '0.564',
 '5.0',
 '4승',
 '0.365',
 '0.427',
 '6승-4패-0무',
 'KT',
 '144',
 '81',
 '62',
 '1',
 '0.566',
 '4.5',
 '1패',
 '0.358',
 '0.436',
 '7승-3패-0무',
 'LG',
 '144',
 '79',
 '61',
 '4',
 '0.564',
 '5.0',
 '2패',
 '0.349',
 '0.428',
 '5승-4패-1무',
 '키움',
 '144',
 '80',
 '63',
 '1',
 '0.559',
 '5.5',
 '1패',
 '0.355',
 '0.408',
 '6승-4패-0무',
 'KIA',
 '144',
 '73',
 '71',
 '0',
 '0.507',
 '13.0',
 '1승',
 '0.351',
 '0.404',
 '4승-6패-0무',
 '롯데',
 '144',
 '71',
 '72',
 '1',
 '0.497',
 '14.5',
 '1승',
 '0.353',
 '0.408',
 '3승-7패-0무',
 '삼성',
 '144',
 '64',
 '75',
 '5',
 '0.460',
 '19.5',
 '1승',
 '0.338',
 '0.394',
 '6승-2패-2무',
 'SK',
 '144',
 '51',
 '92',
 '1',
 '0.357',
 '34.5',
 '1승',
 '0.329',
 '0.383',
 '5승-5패-0무',
 '한화',
 '144',
 '46',
 '95',
 '3',
 '0.326',
 '38.5',
 '1승',
 '0.320',
 '0.338',
 '3승-6패-1무']

In [20]:
list=list[:110]

In [33]:
xx=np.array(list).reshape(-1,11)

In [34]:
pd.DataFrame(xx)

     0    1   2   3  4      5     6   7      8      9        10
0   NC  144  83  55  6  0.601   0.0  1패  0.366  0.462  4승-4패-2무
1   두산  144  79  61  4  0.564   5.0  4승  0.365  0.427  6승-4패-0무
2   KT  144  81  62  1  0.566   4.5  1패  0.358  0.436  7승-3패-0무
3   LG  144  79  61  4  0.564   5.0  2패  0.349  0.428  5승-4패-1무
4   키움  144  80  63  1  0.559   5.5  1패  0.355  0.408  6승-4패-0무
5  KIA  144  73  71  0  0.507  13.0  1승  0.351  0.404  4승-6패-0무
6   롯데  144  71  72  1  0.497  14.5  1승  0.353  0.408  3승-7패-0무
7   삼성  144  64  75  5  0.460  19.5  1승  0.338  0.394  6승-2패-2무
8   SK  144  51  92  1  0.357  34.5  1승  0.329  0.383  5승-5패-0무
9   한화  144  46  95  3  0.326  38.5  1승  0.320  0.338  3승-6패-1무